.card-principal{
margin: 0.8%;
}
body{
	background-color: #fafafa;
}
.card-login{
	width: 50%;
	 margin: 0.8%;
	/* background-color: red; */
}
.card-register{
	width: 50%;
margin: 0.8%;
/* background-color: green; */
}
.container {
	display: flex;
}
.lima {
    background-color: rgb(89,181,72);
}
.email-register{
	margin-left: 15vw;
	margin-top: 5vh;
}