<div class="container">
  <mat-card class="card-login">
    <mat-card-title>Iniciar Sesion </mat-card-title>
    <mat-card-content>
      <form class="example-form">
        <div class="container email-register">
          <i class="material-icons md-36">email</i>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese el correo" type="email">
          </mat-form-field>
        </div>
        <div class="container email-register">
          <i class="material-icons md-36">lock</i>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese la contraseña" type="password">
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-register">
    <mat-card-title>Registrarme este</mat-card-title>
  </mat-card>
</div>
<mat-card class="card-principal lima">
  <mat-card-title>
    <strong>GesPro</strong><small>v 0.0.1</small>
  </mat-card-title>
  <mat-card-subtitle>
    Software para la gesitón de proyectos en el SENA - Centro de Tecnologías Agroindustriales
  </mat-card-subtitle>
</mat-card>